body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 400px;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px auto;
    text-align: center;
    border-radius: 8px;
    background-color: #ddd;
    box-shadow: 8px 3px 5px rgba(0, 0, 0, 0.1);
}

.outer-circle{
    width: 150px;
    height: 150px;
    background: conic-gradient(#568203 0%,#EF0107 0%);
    margin: 20px auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.inner-circle{
    width: 130px;
    height: 130px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress{
    font-size: 20px;
    font-weight: 600;
    /* margin: 45% auto; */
}
.input-data{
    display: flex;
    justify-content: center;
}

input{
    padding: 10px;
    flex: 1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

button{
    margin-left: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    background-color: #228B22;
    cursor: pointer;
}
button:hover{
    background-color: lime;
}

button:disabled{
    background-color: #ccc;
}


